/*start of header styling*/
html{
    height: 100%;
}

body{
    height: 100vh;
}

.greaterHeaderCont{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #a7a9ac;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 2;
    margin: 0px;
    height: 50%;
    width: 100%;
}

.lesserHeaderCont{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.headerContRight, .headerContLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 1 1 0;
}

.logo{
    font-weight: bolder;
    display: flex;
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 24px;
    color: #f9faf8;
}

.headerContLeftSubCont{
    margin-top: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex-basis: 1 1 0;  
}

button{
    width:fit-content;
    background-color: #3882f6;
    border-radius: 12px;
    font-size: large;
    color: white;
    width: 30%;
    height: 150%;
}

.subtext{
    margin: 0 0 2% 0;
    width: 450px;
}

.mainText{
    margin-top: 0%;
    margin-bottom: 0;
    width: 400px;
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.links{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

/*end of header styling*/
/*start of infor section styling*/
.infoDiv{
    height: 50%;
}

/*end of info section styling*/